@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';



@theme {
  /* Custom Colors */
  --color-primary: #0df259;
  --color-background-light: #f5f8f6;
  --color-background-dark: #102216;
  --color-neutral-dark: #1a2e21;
  --color-neutral-border: #22492f;

  /* Fonts */
  --font-display: "Inter", ui-sans-serif, system-ui, sans-serif;

  /* Border Radii */
  --radius-default: 0.5rem;
  --radius-lg: 1rem;
  --radius-xl: 1.5rem;
  --radius-full: 9999px;
}

/* --- DARK MODE FELÜLDEFINIÁLÁS --- */
/* Amikor a html vagy body elemen rajta van a .dark osztály */
@variant dark (&:where(.dark, .dark *));

@layer base {
  .dark {
    /* Custom Colors */
    --color-primary: red;
    --color-background-light: #f5f8f6;
    --color-background-dark: #102216;
    --color-neutral-dark: #1a2e21;
    --color-neutral-border: #22492f;
  }
}

/* Globális alapbeállítások a színek alkalmazásához */
@layer base {
  body {
    @apply bg-[family-name:--color-background-page] text-[family-name:--color-text-main] transition-colors duration-300;
  }
}